'scopeName': 'source.satcom'
'fileTypes': [
  'satcom'
]
'firstLineMatch': '^\\\\b;.+$'
'name': 'SatCom'
'patterns': [
  { 'include': '#escaped-char' }
  # One liners
  { 'include': '#header' }
  { 'include': '#line-background' }
  # Formatting
  { 'include': '#background' }
  { 'include': '#monospaced' }
  # Special tags
  { 'include': '#link' }
  { 'include': '#keyboard-key' }
  { 'include': '#button' }
  {
    'match': '\\\\image ([^\\s]+) (\\d+ \\d+);'
    'captures':
      '1':
        'name': 'string.other.link.satcom'
        'patterns': [
          { 'include': 'escaped-char' }
        ]
      '2':
        'name': 'constant.numeric.satcom'
    'name': 'meta.link.satcom'
  }
]

'repository':
  'background':
      'patterns': [
        {
            'begin': '\\\\token;'
            'end': '(.+)\\\\norm;'
            'endCaptures':
              '1':
                'name': 'meta.tag.on-background.satcom'
                'patterns': [
                  { 'include': '#link' }
                  { 'include': '#keyboard-key' }
                  { 'include': '#monospaced' }
                  { 'include': '#escaped-char' }
                ]
            'name': 'keyword.token.satcom'
        }
        {
            'begin': '\\\\type;'
            'end': '(.+)\\\\norm;'
            'endCaptures':
              '1':
                'name': 'meta.tag.on-background.satcom'
                'patterns': [
                  { 'include': '#link' }
                  { 'include': '#keyboard-key' }
                  { 'include': '#monospaced' }
                  { 'include': '#escaped-char' }
                ]
            'name': 'keyword.type.satcom'
        }
        {
            'begin': '\\\\const;'
            'end': '(.+)\\\\norm;'
            'endCaptures':
              '1':
                'name': 'meta.tag.on-background.satcom'
                'patterns': [
                  { 'include': '#link' }
                  { 'include': '#keyboard-key' }
                  { 'include': '#monospaced' }
                  { 'include': '#escaped-char' }
                ]
            'name': 'keyword.const.satcom'
        }
        {
            'begin': '\\\\key;'
            'end': '(.+)\\\\norm;'
            'endCaptures':
              '1':
                'name': 'meta.tag.on-background.satcom'
                'patterns': [
                  { 'include': '#link' }
                  { 'include': '#keyboard-key' }
                  { 'include': '#monospaced' }
                  { 'include': '#escaped-char' }
                ]
            'name': 'keyword.key.satcom'
        }
      ]
  'link': {
      'match': '\\\\l;(.+?)\\\\u (.+?);'
      'captures':
        '1':
          'name': 'meta.tag.satcom'
          'patterns': [
            { 'include': '#background' }
            { 'include': '#keyboard-key' }
            { 'include': '#monospaced' }
            { 'include': '#escaped-char' }
          ]
        '2':
          'name': 'string.other.link.satcom'
      'name': 'meta.link.satcom'
  }
  'header': {
    'begin': '^\\\\(b|t);'
    'end': '$'
    'name': 'punctuation.definition.heading.satcom'
    'patterns': [
      { 'include': '#background' }
      { 'include': '#link' }
      { 'include': '#keyboard-key' }
      { 'include': '#monospaced' }
      { 'include': '#escaped-char' }
      { 'include': '#button' }
    ]
  }
  'line-background': {
    'begin': '^\\\\(s|tab);'
    'end': '(.+)$'
    'endCaptures':
      '1':
        'patterns': [
          { 'include': '#background' }
          { 'include': '#link' }
          { 'include': '#keyboard-key' }
          { 'include': '#monospaced' }
          { 'include': '#escaped-char' }
        ]
    'name': 'meta.separator.satcom'
  }
  'keyboard-key': {
    'match': '''\\\\key (?xi)\\b(?:
          Left|Right|Up|Down|
          Gup|Gdown|
          Camera|Desel|Action|Near|Away|Next|Human|Quit|Help|Prog|Cbot|Visit|
          speed10|speed15|speed20
        );
    '''
    'name': 'string.satcom'
  }
  'button': {
    'match': '\\\\button (\\d+);'
    'captures':
      '1':
        'name': 'constant.numeric'
    'name': 'meta.link.satcom'
  }
  'escaped-char': {
    'match': '\\\\\\\\'
    'name': 'constant.character.escape.backslash.satcom'
  }
  'monospaced': {
    'begin': '\\\\c;'
    'end': '\\\\n;'
    'name': 'string.satcom'
    'patterns': [
      { 'include': '#background' }
      { 'include': '#link' }
      { 'include': '#line-background' }
      { 'include': '#keyboard-key' }
      { 'include': '#escaped-char' }
    ]
  }
