@import "./mixins.less";

.syntax--source.syntax--cbot {
  .syntax--constant {
      color: #E12D2D;
  }
  .syntax--entity {
    &.syntax--name.syntax--instruction {
      color: #3D6E96;
    }
    &.syntax--name.syntax--function {
      color: #7D612A;
    }
    &.syntax--this {
      color: #8B549B;
    }
  }
  .syntax--storage.syntax--type {
    color: #4F7132;
  }
  .syntax--comment {
    color: #40454E;
  }
  .syntax--value {
    &.syntax--string {
      color: #3D6257;
    }
  }
}
